* {
    padding: 0;
    margin: 0;
    background-color: #4D96FF;
    font-family: "Mukta";
    cursor: url("../images/Cursor.svg"), default;
}

ul {
    font-family: "Mukta";
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2.5rem;
}

ul li {
    cursor: pointer;
}

ul a {
    text-decoration: none;
    font-size: 1.325rem;
    font-weight: bold;
    padding: 0 1rem;
    color: #FFF;
    transition: color 0.5s ease;
}

ul #about-page {
    color: #FFD93D;
}

a:hover {
    color: #FFD93D;
}

#about-content {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    margin: 15rem auto;
    font-family: "Mukta";
    color: #FFF89A;
}

footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
}

footer a img:hover {
    transform: scale(1.05);
    cursor: pointer;
}


@keyframes bg-animate {
    0% {background-position: left;}
    100% {background-position: right;}
}
