* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Darker Grotesque";
    cursor: url("../images/Cursor.svg"), default;
}
/*This is canvas */
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* background: radial-gradient(#b1b1b1, #8b8b8b); */
    opacity: 0.5;
    z-index: -3;
}

#canvas3 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* background: radial-gradient(#b1b1b1, #8b8b8b); */
    background-color: black;
    opacity: 0.4;
    z-index: -2;
}
/* Canvas Ends Here */

/* This is Nav */
nav {
    animation: nav-load 500ms ease-in;
}

ul {
    font-family: "Mukta";
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2.5rem;
}

ul li {
    cursor: pointer;
}

ul a {
    text-decoration: none;
    font-size: 1.325rem;
    font-weight: bold;
    padding: 0 1rem;
    color: #FFF;
    transition: color 0.5s ease;
}

ul a:hover {
    color: #242424;
    opacity: 0.7;
    transform: scale(1.1);
}
/* Nav Ends Here */

h1 {
    font-size: 2.525rem;
}

#about-content p {
    font-size: 1.225rem;
}

#about-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    padding: 0 2rem;
    color: black;
    max-width: 1200px;
    animation: about-load 1000ms ease-in;
}

.icons {
    width: 125px;
    height: 125px;
    padding: 5px;
}

.icons img {
    width: 100%;
    cursor: pointer;
}

.icons :hover {
    transform: scale(1.05);
}

/* SVG SECTION */
#logo-icon {
    display: flex;
    width: 100%;
    flex-flow: row-reverse;
    position: fixed;
    z-index: 2;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
}

#logo-icon svg {
    cursor: pointer;
    width: 80%;
}

#midline path{
    stroke: aqua;
    stroke-dasharray: 70;
    stroke-dashoffset: 69;
}

/* SVG SECTION */


footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
}

@keyframes nav-load {
    0% {transform: translateY(-100%);}
    100% {transform: translateY(0%);}
}

@keyframes about-load {
    from {opacity: 0;}
    to {opacity: 1;}
}
