* {
    padding: 0;
    margin: 0;
    background-color: #4D96FF;
    font-family: "Mukta";
    cursor: url("../images/Cursor.svg"), default;
}

ul {
    font-family: "Mukta";
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2.5rem;
}

ul li {
    cursor: pointer;
}

ul a {
    text-decoration: none;
    font-size: 1.325rem;
    font-weight: bold;
    padding: 0 1rem;
    color: #FFF;
    transition: color 0.5s ease;
}

a:hover {
    color: #FFD93D;
}

#main-banner {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    margin: 15rem auto;
    font-family: "Mukta";
    color: #FFF89A;
}

#main-banner #malaysia {
    font-size: larger;
    padding: 0;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

#main-banner #malaysia:hover {
    color: transparent;
}

#malaysia:hover {
    background: linear-gradient(90deg, #FFF, #e9ec26, #e21111, #011168);
    -webkit-background-clip: text;
    /* background-clip is added to fix compatibility issue */
    background-clip: text;
    color: transparent;
    background-size: 300%;
    animation: bg-animate 2.2s infinite alternate;
}

footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
}

@keyframes bg-animate {
    0% {background-position: left;}
    100% {background-position: right;}
}
